.shim-red.svelte-y3k1y4 {
	position: relative;
	overflow: hidden;
	background-color: #111827;
}
.shim-red.svelte-y3k1y4:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translate(-100%);
	background-image: linear-gradient(
		90deg,
		rgba(93, 107, 255, 1) 0,
		rgba(93, 107, 255, 0.9) 50%,
		rgba(93, 107, 255, 0.8) 100%
	);
	-webkit-animation: svelte-y3k1y4-shimmer 3s ease-out infinite;
	animation: svelte-y3k1y4-shimmer 3s ease-out infinite;
	content: "";
}
@-webkit-keyframes svelte-y3k1y4-shimmer {
	to {
		transform: translate(0);
		opacity: 0;
	}
}
@keyframes svelte-y3k1y4-shimmer {
	to {
		transform: translate(0);
		opacity: 0;
	}
}
